body{
  font-family: Tahoma, Geneva, sans-serif;
  font-size: 1.1em;
}
.content-pipes{
  display: inline-block;
}
.pipe{
  width: 250px;
  height: 300px;
  background-color: aqua;
  margin: 20px;
  text-align: center;
}
.fetch-new{
  float: right;

}
.hover-pipe{
  margin-top: 5.0em;
}


